<!DOCTYPE html>
<html ng-app="smsSend">

<head lang="en">
    <meta charset="UTF-8">
    <title>TEST SMS</title>
    <link rel="stylesheet" type="text/css" href="../../../lib/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../../../lib/css/smsBlocage.css"/>
</head>


<body>
<!--  SMS Form -->
<form name="smsForm" ng-controller="SmsCtrl as smsCtrl" ng-submit="smsCtrl.sendSms(sms)">

    <!--  SMS Form -->
    <h4>{{smsCtrl.titre}}</h4>

    <fieldset class="form-group">
        <input ng-pattern="/^\d+$/" ng-minlength="13" ng-maxlength="13" placeholder="0041792013604" type="tel" class="form-control"
               title="phoneNumber" ng-model="smsCtrl.phoneNumber" required/>
    </fieldset>

    <fieldset class="form-group">
        <textarea placeholder="Write a sms to a friend" class="form-control" title="textSms" ng-model="smsCtrl.textSms" required></textarea>
    </fieldset>

    <fieldset class="form-group">
        <input type="submit" class="btn btn-primary pull-left" value="Send SMS"/>
        <input type="reset" class="btn btn-primary pull-left" value="Clean SMS"/>
    </fieldset>

</form>


<script type="text/javascript" src="../../../lib/js/angular.js"></script>
<script type="text/javascript" src="../../../lib/js/jquery.js"></script>
<script type="text/javascript" src="../../../lib/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../lib/js/angular-ui-router.min.js"></script>
<script type="text/javascript" src="../../../lib/js/ui-bootstrap-tpls-0.12.1.js"></script>

<script type="text/javascript" src="sms.form.js"></script>

</body>
</html>