
<!--  SMS Form -->
<form name="smsForm" ng-submit="smsCtrl.sendSms()">

    <!--  SMS Form -->
    <h4>{{smsCtrl.titre}}</h4>

    <fieldset class="form-group">
        <input ng-pattern="/^\d+$/" ng-minlength="13" ng-maxlength="13" placeholder="0041792013604" type="tel" class="form-control"
               title="phoneNumber" ng-model="smsCtrl.phoneNumber" required/>
    </fieldset>

    <fieldset class="form-group">
        <textarea placeholder="Write a sms to a friend" class="form-control" title="textSms" ng-model="smsCtrl.textSms" required></textarea>
    </fieldset>

    <fieldset class="form-group">
        <input type="submit" class="btn btn-primary pull-left" value="Send SMS"/>
        <input type="reset" class="btn btn-primary pull-left" value="Clean SMS"/>
    </fieldset>

</form>
