<!--  login Form -->
<form name="loginForm" ng-controller="LoginController as loginCtrl" ng-submit="">
    <blockquote >
        <strong>Login to FreakPhone</strong>
    </blockquote>

    <!--  Login Form -->
    <h4>Login</h4>

    <fieldset class="form-group">
        <textarea ng-model="loginCtrl" class="form-control" placeholder="User" title="User"></textarea>
    </fieldset>
    <fieldset class="form-group">
        <textarea ng-model="loginCtrl" class="form-control" placeholder="Password" title="Password"></textarea>
    </fieldset>
    <fieldset class="form-group">
        <input type="submit" class="btn btn-primary pull-right" value="Login" />
    </fieldset>
</form>
