<section ng-controller="BoutonCtrl as bouton">
    <ul class="nav nav-pills">
        <li ng-class="{ active:bouton.isSet(1) }">
            <a href ng-click="bouton.setTab(1)">Bouton 1</a>
        </li>
        <li ng-class="{ active:bouton.isSet(2) }">
            <a href ng-click="bouton.setTab(2)">Bouton 2</a>
        </li>
        <li ng-class="{ active:bouton.isSet(3) }">
            <a href ng-click="bouton.setTab(3)">Bouton 3</a>
        </li>
    </ul>

    <!--  Description Tab'boutons Content  -->
    <div ng-show="bouton.isSet(1)" ng-include="'src/app/views/view01-tmpl.html'">
    </div>

    <!--  Spec Tab'boutons Content  -->
    <div ng-show="bouton.isSet(2)" ng-include="'src/app/views/view02-tmpl.html'"></div>

    <!--  Review Tab'boutons Content  -->
    <div ng-show="bouton.isSet(3)" ng-include="'src/app/views/view03-tmpl.html'"></div>
</section>